<a href="https://colab.research.google.com/github/Meshal-Css/Project/blob/main/nosql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 16.8 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 13.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

In [2]:
import pymongo
from pymongo import MongoClient
import os

In [3]:
MONGO_CONNECTION_STRING = "mongodb+srv://meshal:1234@cluster0.jczjlkb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [4]:
client = MongoClient(MONGO_CONNECTION_STRING)

In [6]:
db = client['df1'] # <<<

In [7]:
employees_collection = db['coll1'] #<<<

In [8]:
employees_collection.insert_one({'name': 'John', 'age': 25, 'country': 'USA'})
employees_collection.insert_one({'name': 'John', 'age': 28, 'country': 'UK'})
employees_collection.insert_one({'name': 'Jane', 'age': 22, 'country': 'UK'})
employees_collection.insert_one({'name': 'Ahmed', 'age': 30, 'country': 'Egypt'})

InsertOneResult(ObjectId('66b12d9a0b89946ae990cb62'), acknowledged=True)

In [9]:
employees_collection.insert_many([
    {'name': 'Ali', 'age': 35, 'country': 'Saudi Arabia'},
    {'name': 'Mohammed', 'age': 40, 'country': 'Kuwait'},
    {'name': 'Sara', 'age': 20, 'country': 'UAE'}
])

InsertManyResult([ObjectId('66b12db00b89946ae990cb63'), ObjectId('66b12db00b89946ae990cb64'), ObjectId('66b12db00b89946ae990cb65')], acknowledged=True)

In [11]:
first_jhon = employees_collection.find_one({'name': 'John'})
print(first_jhon) # استعلام

{'_id': ObjectId('66b12d980b89946ae990cb5f'), 'name': 'John', 'age': 25, 'country': 'USA'}

In [13]:
results = employees_collection.find({'name': 'John'})
for employee in results:
    print(employee)
    print(f'Age: {employee["age"]}')
    print(f'Country: {employee["country"]}')
    print('-----------------')

{'_id': ObjectId('66b12d980b89946ae990cb5f'), 'name': 'John', 'age': 25, 'country': 'USA'}
Age: 25
Country: USA
-----------------
{'_id': ObjectId('66b12d9a0b89946ae990cb60'), 'name': 'John', 'age': 28, 'country': 'UK'}
Age: 28
Country: UK
-----------------

In [15]:
employees_collection.update_one({'name': 'John'}, {'$set': {'age': 30}}) # سويت ابديت

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000000c'), 'opTime': {'ts': Timestamp(1722887725, 1), 't': 12}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1722887725, 1), 'signature': {'hash': b'G\x84?\xbf\x18\x85\xd7\x0c\xfb\xdbI9\x9d\x13;\xca\x83\\5\xd4', 'keyId': 7351117344950714375}}, 'operationTime': Timestamp(1722887725, 1), 'updatedExisting': True}, acknowledged=True)

In [16]:
employees_collection.update_many({'name': 'John'}, {'$set': {'country': 'France'}})

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff000000000000000c'), 'opTime': {'ts': Timestamp(1722887783, 2), 't': 12}, 'nModified': 2, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1722887783, 2), 'signature': {'hash': b'\xd3o\xc9\x8d\xbd\xd0\x1b1I\xa9\xa5[\xbdf\xb7\x9c\xd4\xcd\x94O', 'keyId': 7351117344950714375}}, 'operationTime': Timestamp(1722887783, 2), 'updatedExisting': True}, acknowledged=True)

In [17]:
employees_collection.delete_one({'name': 'Jane'})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000000c'), 'opTime': {'ts': Timestamp(1722887804, 1), 't': 12}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1722887804, 1), 'signature': {'hash': b'\xf7N0\\\xd8b\x05\xffr\x84\xc2\xd7A\xc75\x86\x14\xd6\x1c\xb7', 'keyId': 7351117344950714375}}, 'operationTime': Timestamp(1722887804, 1)}, acknowledged=True)

In [18]:
employees_collection.delete_many({'name': 'John'})

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff000000000000000c'), 'opTime': {'ts': Timestamp(1722887820, 1), 't': 12}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1722887820, 2), 'signature': {'hash': b'\x14\xc2[-\xc1\xc5\xf3\x1d\xb0\xbc\x1b.y5\xe3%\xe9\xc5\x8d\x96', 'keyId': 7351117344950714375}}, 'operationTime': Timestamp(1722887820, 1)}, acknowledged=True)